<!DOCTYPE html>
<html>
<head>
    <title>Faktura VAT</title>
    <style>
        body {
            font-size: 12px;
        }

        .container {
            display: flex;
            flex-direction: row;
        }

        .box {
            border: 1px solid black;
            padding: 2px;
            margin-bottom: 5px;
            text-align: center;
            font-size: 10px;
        }

        .left-box {
            width: 50%;
        }

        .right-box {
            width: 50%;
        }

        .table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 10px;
            font-size: 10px;
        }

            .table th, .table td {
                border: 1px solid black;
                padding: 3px;
                text-align: center; /* Wyśrodkowanie wartości */
            }

        .summary {
            margin-top: 10px;
            font-weight: bold;
            font-size: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="left-box box">
            <h2>FAKTURA VAT</h2>
            <h2>@Model.Number</h2>
        </div>
        <div class="right-box box">
            <p>Miejsce wystawienia: @Model.PlaceOfIssue</p>
            <p>Data wystawienia: @Model.Date.ToShortDateString()</p>
            <hr>
            <p>Data sprzedaży: @Model.SaleDate.ToShortDateString()</p>
            <hr>
            <p>Sposób zapłaty: @Model.PaymentMethod</p>
            <p>Termin zapłaty: @Model.PaymentDate.ToShortDateString()</p>
        </div>
    </div>
    <div class="container">
        <div class="left-box box">
            <h3>Sprzedawca:</h3>
            <p>@Model.SellerName</p>
            <p>@Model.SellerAddress</p>
            <p>NIP: @Model.SellerTaxId</p>
        </div>
        <div class="right-box box">
            <h3>Nabywca:</h3>
            <p>@Model.BuyerName</p>
            <p>@Model.BuyerAddress</p>
            <p>NIP: @Model.BuyerTaxId</p>
        </div>
    </div>
    <div class="box">
        <h3>Bank i numer konta:</h3>
        <p>@Model.Bank</p>
        <p>Numer konta: @Model.AccountNumber</p>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Poz. faktury VAT</th>
                <th>Nazwa towaru/usługi</th>
                <th>Symbol PKWiU/PKOB</th>
                <th>Jm</th>
                <th>Ilość</th>
                <th>Cena jednostkowa netto</th>
                <th>Wartość netto</th>
                <th>Stawka VAT [%]</th>
                <th>Kwota VAT</th>
                <th>Wartość brutto</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.Items.Count; i++)
            {
                var item = Model.Items[i];
                <tr>
                    <td>@(i + 1)</td>
                    <td>@item.Description</td>
                    <td>@item.PKWiUorPKOB</td>
                    <td>@item.UnitMeasure</td>
                    <td>@(item.Quantity > 0 ? @item.Quantity : "")</td>
                    <td>@item.UnitPrice</td>
                    <td>@item.NetAmount</td>
                    <td>@string.Format("{0:#.##}", item.TaxRate)</td>
                    <td>@item.TaxAmount</td>
                    <td>@item.GrossAmount</td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <div class="box">
        <div class="summary">
            <p>Łączna kwota netto: @Model.TotalNetAmount zł</p>
            <p>Łączna kwota podatku: @Model.TotalTaxAmount zł</p>
            <p>Łączna kwota brutto: @Model.TotalGrossAmount zł</p>
            <p>Słownie: @Model.NumberAsWords</p>
            <p>Stawki VAT: 23 | 8 | 5 | 0 | zw</p>
        </div>
    </div>
    <br />
    <br />

    <div class="container">
        <div class="left-box box">
            <h3>Wystawca faktury:</h3>
            <p>Data: ...................................................................</p>
            <p>Podpis: ...................................................................</p>
        </div>
        <div class="right-box box">
            <h3>Odbiorca faktury:</h3>
            <p>Data: ...................................................................</p>
            <p>Podpis: ...................................................................</p>
        </div>
    </div>
</body>
</html>
